<div class="services">
    <div class="services__container">
        <!-- Rich text component -->
        <div class="rich-text">
            <h1>
                Services
            </h1>
            <p>St. Lukes Plastic & Reconstructive Surgery its dedicated to helping you feel your best. Our staff
                provides a wide range of services, from aesthetics to advanced cosmetic surgery, all designed to help
                you love your face and body even more. Our goal is to deliver your desired results.</p>
        </div>

        <!-- Html for accordian component -->
        
        <div class="services__accordian">
            <section class="services__accordian-item">
                <h2 class="services__accordian-heading"><button class="services__accordian-trigger"
                        title="face" aria-label="expand or collapse this section" aria-expanded="false"
                        aria-controls="services-collapse-1">Face <i class="fas fa-angle-down services__accordian-icon"></i></button>
                </h2>
                <!-- the value of id and aria-control of button should be same -->
                <div id="services-collapse-1" class="services__accordian-copy" aria-hidden="true">
                    <p class="services__accordian-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                        integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae
                    </p>
                    <a href="#" class="services__accordian-copy-link" title="See More"
                        aria-label="click on this link to know more">See More</a>
                </div>
            </section>

            <section class="services__accordian-item">
                <h2 class="services__accordian-heading"><button class="services__accordian-trigger"
                        title="face" aria-label="expand or collapse this section" aria-expanded="false"
                        aria-controls="services-collapse-2">Body <i class="fas fa-angle-down services__accordian-icon"></i></button>
                </h2>
                <!-- the value of id and aria-control of button should be same -->
                <div id="services-collapse-2" class="services__accordian-copy" aria-hidden="true">
                    <p class="services__accordian-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                        integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae
                    </p>
                    <a href="#" class="services__accordian-copy-link" title="See More"
                        aria-label="click on this link to know more">See More</a>
                </div>
            </section>

            <section class="services__accordian-item">
                <h2 class="services__accordian-heading"><button class="services__accordian-trigger"
                        title="face" aria-label="expand or collapse this section" aria-expanded="false"
                        aria-controls="services-collapse-3">Breast <i class="fas fa-angle-down services__accordian-icon"></i></button>
                </h2>
                <!-- the value of id and aria-control of button should be same -->
                <div id="services-collapse-3" class="services__accordian-copy" aria-hidden="true">
                    <p class="services__accordian-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies
                        integer quis. Iaculis urna id volutpat lacus laoreet. Mauris vitae
                    </p>
                    <a href="#" class="services__accordian-copy-link" title="See More"
                        aria-label="click on this link to know more">See More</a>
                </div>
            </section>
        </div>

    </div>
</div>