<!-- Zip Code -->
<div class="zip-locations">
  <div class="zip-locations__find_city">
    <span class="zip-locations__find_city-text">Closest Location</span>
    <button class="zip-locations__find_city-triggers">
      <!-- <i class="fa-regular fa-magnifying-glass search-city"></i> -->
      <i class="fa-duotone fa-pencil search-city"></i>
    </button>
  </div>
  <div class="zip-locations__form-search">
    <div class="zip-locations__form-container">
      <span class="zip-locations__form-city">Zip Code</span>
      <input
        class="zip-locations__form-code-entry"
        type="number"
        placeholder="Enter the Zip Code"
      />
      <button class="btn btn--style">Search</button>
    </div>
  </div>
</div>

<!-- Google Map Content -->
<div class="google-map__location">
  <div class="google-map__location_map-content" id="map"></div>
</div>

<!-- Office Locations list  DropDown-->
<div class="offices-location">
  <div class="offices-location__dropdown_container">
    <button class="offices-location__dropdown_container_trigger-items">
      <span
        class="offices-location__dropdown_container_trigger-items-label"
        id="text"
        >narrow</span
      >
    </button>
    <button class="offices-location__dropdown_container_cross">
      <i class="fa-regular fa-circle-xmark cross-icon"></i>
    </button>
    <div class="offices-location__dropdown_container-Items-menu"></div>
  </div>
</div>

<!-- offices-location-Cities -->
<div class="office-list"></div>
