<div class="appointment-nicu">
  <div class="appointment-nicu__container">
    <div class="appointment-nicu__container_people">
      <h1 class="appointment-nicu__container_people-name">
        Elizabeth T. Corbo, MD
      </h1>
      <p class="appointment-nicu__container_people-specialties">
        <span class="appointment-nicu__container_people-specialties-bold"
          >Specialties:</span
        >
        Neurology with Special Qualification in Child Neurology
      </p>
      <button class="btn btn-white">Make an Appointment</button>
    </div>
  </div>
  <img
    src="../../images/profile.png"
    alt=""
    class="appointment-nicu__person-img"
  />
</div>

<div class="appointment-nicu__profile">
  <div class="appointment-nicu__profile_person-bio">
    <h1 class="appointment-nicu__profile_person-about">About</h1>
    <p class="appointment-nicu__profile_person-about-desc">
      I strive to form a long term relationship with patients and their
      families. In my field, quite a few are ultimately diagnosed with chronic
      conditions. Being able to build a strong bond over our time together,
      along with being given the honor to be the treating physician by these
      families, is an aspect I consider most satisfying and rewarding.In my
      years of practice so far I get to appreciate first hand just how tough and
      resilient my patients- infants, children and teenagers can be. This is
      something that absolutely blows my mind and keeps me motivated even more
      so for them and their families on a daily basis. It ultimately has given
      me my passion and helped me form a philosophy and values through which I
      approach medicine.
    </p>
    <p class="appointment-nicu__profile_person-about-desc-fd">
      I am board certified in neurology with special qualifications in child
      neurology, hence my field of practice, pediatric neurology. I am also
      board certified in epilepsy and take a special interest in treating
      children in this arena as well.
    </p>
    <p class="appointment-nicu__profile_person-about-desc-fd">
      Overall I do not like this to overshadow my general practice though
      because I truly enjoy general child neurology in its entirety, and I see
      kids with a multitude of diagnoses such as epilepsy, headaches and tic
      disorder to name a few.
    </p>
    <p class="appointment-nicu__profile_person-about-desc-fd">
      Outside of work, my family is what makes a large part of who I am. I have
      a wonderful, supportive husband who I am very grateful for. I also have a
      newly minted toddler, who definitely keeps us on our toes, along with her
      fur brother. We enjoy family time of course but winter time in PA is
      special to us as it is a wonderful time for us to enjoy skiing, one of our
      favorite hobbies. We hope to get the little one on skis one day soon.
      Right now she is just an avid walker. Lastly, although not done recently,
      we would love to get back into traveling and seeing the world. The
      Mediterranean is on our bucket list as a family, and I am hoping to get
      some checks next to a few of our destinations in the next few years to
      come.
    </p>
  </div>
</div>
