<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <main>
      <!-- @@include('../../Components/NICU/nicu.html') -->
      <!-- @@include('../../Components/NICU/nicu2.html') -->
      <!-- @@include('../../Components/NICU/nicu3.html') -->
      <!-- @@include('../../Components/NICU/nicu4.html') -->
      <!-- @@include('../../Components/NICU/nicu5.html') -->
      <!-- @@include('../../Components/NICU/nicu6.html') -->
      <!-- @@include('../../Components/NICU/nicu7.html') -->
      <!-- @@include('../../Components/NICU/nicu-video.html') -->
      @@include('../../Components/NICU-appointment/appointment.html')
      @@include('../../Components/NICU/NICU-locations.html')
      
      
    </main>
    <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
  </body>
</html>
