<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <main>
        @@include('../../Components/banner/banner-image.html')
        @@include('../../Components/services/services.html')
        
        </main>
        @@include('../../Components/footer/footer.html')
        <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>
</html>
