.clinical-video {
  width: 100%;
  position: relative;
  margin-bottom: 55px;

  &-container {
    display: flex;
    justify-content: flex-end;
    min-height: 360px;
    align-items: center;
    background: rgba(0, 119, 205, 0.04);
    clip-path: polygon(0% 32%, 100% 0%, 100% 100%, 0 100%, 0% 26%);
  }
  &-desc {
    width: 50%;
    padding-right: 70px;
    // padding-left: 45px;
    &-para {
      font-family: $openSans;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 29px;
      color: $black;
    }
  }

  &-content {
    position: absolute;
    top: 10%;
    left: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
