<div class="container_banner">
  <div
    id="carouselExampleIndicators"
    class="carousel slide carousel-banner"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner carousel-banner__inner">
      <div class="carousel-item active carousel-banner__inner_item">
        <img
          src="../../images/1slide.png"
          class="carousel-banner__images"
          alt="..."
        />
        <div class="carousel-banner__text_content">
          <h2 class="carousel-banner__text_content_heading">
            St. Luke’s Pediatric Specialty Center
          </h2>
          <p class="carousel-banner__text_content_para">
            The region’s first and only free-standing facility dedicated
            entirely to caring for kids.
          </p>
          <button class="btn btn--color">Schedule an appointment</button>
        </div>
      </div>
      <div class="carousel-item carousel-banner__inner_item">
        <img
          src="../../images/3slide.png"
          class="carousel-banner__images"
          alt="..."
        />
        <div class="carousel-banner__text_content">
          <h2 class="carousel-banner__text_content_heading">
            Children’s Hospital Association
          </h2>
          <p class="carousel-banner__text_content_para">
            St. Luke's is a proud member with access to a national network of
            institutions committed to improving the quality, safety and cost of
            pediatric health care.
          </p>
          <button class="btn btn--color">Learn More</button>
        </div>
      </div>
      <div class="carousel-item carousel-banner__inner_item">
        <img
          src="../../images/2slide.png"
          class="carousel-banner__images"
          alt="..."
        />
        <div class="carousel-banner__text_content">
          <h2 class="carousel-banner__text_content_heading">
            St. Luke’s Primary Care
          </h2>
          <p class="carousel-banner__text_content_para">
            Our pediatric practices offer same-day appointments, meet the doctor
            visits and weekend and evening hours designed to meet your
            individual needs. New patients always welcome.
          </p>
          <button class="btn btn--color">Find a Pediatrician</button>
        </div>
      </div>
    </div>

    <div class="carousel-indicators carousel-banner__indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
      ></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
      ></span>
    </button>
  </div>
</div>
