<div class="container">
  <div class="container__covid_vaccine">
    <h3>The Covid-19 vaccine is now available for children ages 5-11</h3>
    <p>
      The vaccine is safe and effective in preventing COVID-19 in children. Need
      to make an appointment? our
      <strong>Coronavirus Digital Resource Center</strong> for more information.
    </p>
    <button class="btn btn--color">Learn More</button>
  </div>
  <div class="container__image">
    <img src="../../images/image1.png" class="container__image_covid" alt="" />
  </div>
</div>

<div class="grid-contianer">
  <div class="grid-content">
    <div class="first-grid">
      <div class="first-grid-container">
        <div class="first-text">
          <h3 class="news-stories-title">News & Stories</h3>
          <p class="news-stories-updates">Find out what’s happening now within St. ’s Pediatrics:</p>
          <p class="news-stories-updates">
            Get the latest news . Read about what’s new at St. Luke’s Pediatrics
            and hear from our experts.
          </p>
          <p class="news-stories-updates">
            Read inspiring testimonials. See what our extraordinary patients are
            saying about the care we provide.
          </p>
        </div>
        <div class="first-card">
          <div class="first-info-card">
            <span class="featured">FEATURED</span>
            <div class="info-card-img">
              <img src="../../images/image_1.png" />
            </div>
            <div class="first-info-card-text">
              <h3 class="card-title">Grand Opening of St. Luke’s Pediatrics</h3>
              <p class="card-desc">
                Ut sagittis, magna eget venenatis convallis, nulla tortor dictum
                quam, at dignissim est magna nec velit. Donec ultrices, arcu ac
                vulputate malesuada, nibh erat maximus massa ...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="second-grid">
      <div class="second-grid-container">
        <div class="second-info-card">
          <div class="info-card-img">
            <img src="../../images/image_2.png" />
          </div>
          <div class="second-info-card-text">
            <h3 class="second-info-card-title">
              St. Luke’s University Health Network Rings 2022 with two Very
              Special Deliveries
            </h3>
            <p class="second-info-card-desc">
              The Lehigh Valley’s first baby of the new year was born at St.
              Luke’s Allentown Campus on January 1st at 1:12 am …
            </p>
          </div>
        </div>
        <div class="second-info-card">
          <div class="info-card-img">
            <img src="../../images/image_3.png" />
          </div>
          <div class="second-info-card-text">
            <h3 class="second-info-card-title">
              Healing a Broken Wrist with a Flash of Purple from a 3D-Printed
              Cast
            </h3>
            <p class="second-info-card-desc">
              Kylee Menszak broke her wrist in gym class recently playing
              capture the flag. This was the second time the seventh ...
            </p>
          </div>
        </div>
        <div class="second-info-card">
          <div class="info-card-img">
            <img src="../../images/image_4.png" />
          </div>
          <div class="second-info-card-text">
            <h3 class="second-info-card-title">
              New Adolescent Behavioral Unit at Easton Campus
            </h3>
            <p class="second-info-card-desc">
              St. Luke’s University Health Network (SLUHN) on Tuesday opened its
              new Adolescent Behavioral Health Unit to provide safe, expert and
              ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
