<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-container-left">
      <div class="footer-content-left">
        <h3 class="left-content-heading">866-STLUKES</h3>
        <p class="left-content-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum?
          Explicabo delectus obcaecati nemo aut. Earum nesciunt sunt tempora
          quibusdam.
        </p>

        <div class="icons">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="about-container">
        <div class="about-container-items">
          <div class="about-container-footer-list">
            <h4 class="about-heading">RESOURCES</h4>
            <ul>
              <li class="list-items">Bill Pay</li>
              <li class="list-items">MyChart</li>
              <li class="list-items">Visitation Policy</li>
              <li class="list-items">Pharmacy</li>
            </ul>
          </div>

          <div class="about-container-footer-list">
            <h4 class="about-heading">COMMUNITY</h4>
            <ul>
              <li class="list-items">Support</li>
              <li class="list-items">Veterans</li>
              <li class="list-items">Voluntees</li>
              <li class="list-items">Way To Give</li>
            </ul>
          </div>

          <div class="about-container-footer-list">
            <h4 class="about-heading">ABOUT</h4>
            <ul>
              <li class="list-items">Support</li>
              <li class="list-items">History</li>
              <li class="list-items">Leadership</li>
              <li class="list-items">Values</li>
            </ul>
          </div>
        </div>
          <div class="footer-privacy">
            Vendors | EOE | Privacy | Public Notice | Terms of Use
          </div>
      </div>
    </div>

    <div class="carrer-container-right">
      <div class="carrer-content-text">
        <h2 class="carrer-content-headline">CAREERS</h2>
        <p class="carrer-content-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nesciunt,
          veniam iste, sunt, minima itaque provident dolorem dicta fugiat natus
          ab adipisci vitae magni ipsum asperiores commodi cumque. Voluptatum,
          maxime.
        </p>
        <button class="btn btn--footer">Work with us!</button>
        <p class="copyright-footer-content">
          © Copyright 2022 St. Luke’s. All rights reserved. Headquartered in
          Bethlehem, Pennsylvania
        </p>
      </div>
    </div>
  </div>
</footer>
