<section class="banner-carousel">
   <div id="myCarousel" class="carousel slide banner-carousel__slider" data-bs-touch="true"
      data-bs-interval="false">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <!-- Provide informative content related to image in aria-label attribute -->
            <div class="banner-carousel__image" role="img" aria-label="image"
               style="background-image: url('https://source.unsplash.com/random/1200x860');"><a href="#"
                  class="banner-carousel__link" aria-label="Schedule your consultent by clinking on the link"
                  title="Schedule your consultent by clinking on the link">Schedule your consultent</a></div>
         </div>
         <div class="carousel-item">
            <div class="banner-carousel__image" role="img" aria-label="image"
               style="background-image: url('../../images/Hero.png');"><a href="#" class="banner-carousel__link"
                  aria-label="Schedule your consultent by clinking on the link"
                  title="Schedule your consultent by clinking on the link">Schedule your consultent</a></div>
         </div>
         <div class="carousel-item">
            <div class="banner-carousel__image" role="img" aria-label="image"
               style="background-image: url('https://source.unsplash.com/random/1200x860');"><a href="#"
                  class="banner-carousel__link" aria-label="Schedule your consultent by clinking on the link"
                  title="Schedule your consultent by clinking on the link">Schedule your consultent</a></div>
         </div>
      </div>
      <button class="carousel-control-prev banner-carousel__button" aria-label="Previous slide" type="button"
         data-bs-target="#myCarousel" data-bs-slide="prev">
         <span class="carousel-control-prev-icon banner-carousel__button-left" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next banner-carousel__button" type="button" aria-label="Next slide"
         data-bs-target="#myCarousel" data-bs-slide="next">
         <span class="carousel-control-next-icon banner-carousel__button-right" aria-hidden="true"></span>
      </button>
   </div>
</section>