<div class="color-filter-choice">
  <div class="color-filters">
    <div class="color-filters-options">
      <span class="color-filters-names">Filter:</span>
      <a data-filter="all" class="color-filters-links active">All</a>
      <a data-filter="red" class="color-filters-links">Red</a>
      <a data-filter="brown" class="color-filters-links">Brown</a>
      <a data-filter="grey" class="color-filters-links">Grey</a>
    </div>
    <div class="color-filters-selections">
      <div class="color-filters-selectors" data-tab="grey">
        <img src="../../images/colors/grey1.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="grey">
        <img src="../../images/colors/grey2.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="grey">
        <img src="../../images/colors/grey3.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="brown">
        <img src="../../images/colors/brown1.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="brown">
        <img src="../../images/colors/brown2.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="brown">
        <img src="../../images/colors/brown3.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="red">
        <img src="../../images/colors/red1.jfif" alt="" />
      </div>
      <div class="color-filters-selectors" data-tab="red">
        <img src="../../images/colors/red2.jfif" alt="" />
      </div>
    </div>
  </div>
  <div class="color-filter-carousel"></div>
</div>

<!-- <div class="color-filters">
  <div class="color-filters-options">
    <span class="color-filters-names">Filter:</span>
    <a data-for-tab="all" class="color-filters-links active">All</a>
    <a data-for-tab="red" class="color-filters-links">Red</a>
    <a data-for-tab="brown" class="color-filters-links">Brown</a>
    <a data-for-tab="grey" class="color-filters-links">Grey</a>
  </div>
  <div class="color-filters-selections">
    <div class="color-filters-selectors" data-tab="grey">
      <img src="../../images/colors/grey1.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="grey">
      <img src="../../images/colors/grey2.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="grey">
      <img src="../../images/colors/grey3.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="brown">
      <img src="../../images/colors/brown1.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="brown">
      <img src="../../images/colors/brown2.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="brown">
      <img src="../../images/colors/brown3.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="red">
      <img src="../../images/colors/red1.jfif" alt="" />
    </div>
    <div class="color-filters-selectors" data-tab="red">
      <img src="../../images/colors/red2.jfif" alt="" />
    </div>
  </div>
</div> -->
