<!-- Header Sections -->
<header>
  <div class="menu">
    <div class="menu-sidebar_nav">
      <a
        class="menu-button"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
        <i class="fa-light fa-bars"></i>
        <span class="menu-title">Menu</span>
      </a>
    </div>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header st-luke-logo">
        <div class="bg--white">
          <img src="../../images/logo_white.svg" alt="" />
        </div>
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="menu-contact">
        <a href="tel:866-STLUKES" class="menu-contact--number"
          >Call us at 866-STLUKES</a
        >
      </div>
      <div class="patient">
        <ul class="patient-all-links">
          <li class="patient-all-links-items">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <a href="" class="patient--login links">Patient Login</a>
          </li>
          <li class="patient-all-links-items">
            <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
            <a href="" class="patient--care links">Find Care</a>
          </li>
          <li class="patient-all-links-items">
            <i class="fa-regular fa-circle-dollar"></i>
            <a href="" class="patient--bill links">Pay Your Bill</a>
          </li>
          <li class="patient-all-links-items">
            <i class="fa-solid fa-hospital"></i>
            <a href="" class="patient--locations links">Locations/Campuses?</a>
          </li>
          <li class="patient-all-links-items">
            <i class="fa-solid fa-calendar-days"></i>
            <a href="" class="patient--appointemnt links"
              >Make an Appointment</a
            >
          </li>
          <li class="patient-all-links-items">
            <a href="" class="patient--useful-link">Emergeny Departments</a>
          </li>
          <li class="patient-all-links-items">
            <a href="" class="patient--useful-link">Services</a>
          </li>
          <li class="patient-all-links-items">
            <a href="" class="patient--useful-link">About Us</a>
          </li>
          <li class="patient-all-links-items">
            <a href="" class="patient--useful-link">Education</a>
          </li>
          <li class="patient-all-links-items">
            <a href="" class="patient--useful-link">Research & innovation</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Middle -->
    <div class="menu-middle-part">
      <div class="menu-middle-part-content">
        <a href="" class="menu-middle-part-link-img">
          <img src="../../images/logo.svg" alt="" />
        </a>
        <ul class="menu-header">
          <li class="menu-header-list-items">
            <i class="fas fa-calendar-check" aria-hidden="true"></i>
            <a href="" class="menu-header-list-items-link">
              Make an appointment
            </a>
          </li>
          <li class="menu-header-list-items">
            <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            <a href="" class="menu-header-list-items-link"> Pay a bill </a>
          </li>
          <li class="menu-header-list-items">
            <i class="fas fa-gift" aria-hidden="true"></i>
            <a href="" class="menu-header-list-items-link"> Make a gift </a>
          </li>
          <li class="menu-header-list-items">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
            <a href="" class="menu-header-list-items-link"> Login </a>
          </li>
          <li class="menu-header-list-items_mobile-show">
            <!-- <i class="fas fa-search header-search-icon" aria-hidden="true"></i> -->
            <button href="" class="menu-header-list-items-search">
              <i
                class="fas fa-search header-search-icon"
                aria-hidden="true"
              ></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Search Part -->
  <div class="search-header">
    <div class="search-header-container">
      <div class="search-header-container-content">
        <form action="" class="search-header-container-form">
          <label for="search">Search</label>
          <div class="search-header-container-input-field">
            <input type="text" placeholder="Search" class="search-header-bar" />
            <button class="search-header-search-button">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
      <button class="search-header-container-close">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <!-- Logo Company  -->
  <div class="sample-stlukes">
    <div class="sample-stlukes_content">
      <img src="../../images/ped.svg" alt="" />
    </div>
  </div>

  <!-- Header part  -->
  <div class="main_navbar">
    <nav class="main_navbar__container">
      <div class="main_navbar__container-content">
        <button class="main_navbar__container_hidden_button">
          <span class="main_navbar__container_hidden_button-title"> Menu </span>
          <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </button>
        <div class="main_navbar__container-header">
          <ul class="main_navbar__container-list">
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links">
                Overview
              </a>
            </li>
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links">
                Find Care
              </a>
              <button
                class="main_navbar__container-list-items-links-arrow_button"
                data-for="1"
              >
                <i class="fas fa-chevron-down" aria-hidden="true"></i>
              </button>
              <ul class="sub-dropdown" data-for-target="1">
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href=""> Surgical Services </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href=""
                    >Cosmetic & Aesthetic Services
                  </a>
                </li>
              </ul>
            </li>
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links">
                Specialties & Services
              </a>
              <button
                class="main_navbar__container-list-items-links-arrow_button"
                data-for="2"
              >
                <i class="fas fa-chevron-down" aria-hidden="true"></i>
              </button>
              <ul class="sub-dropdown" data-for-target="2">
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Allentown </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Bethlehem </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Palmerton </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Bethlehem </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Easton </a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Stroudsburg </a>
                </li>
              </ul>
            </li>
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links">
                Inpatient Care
              </a>
              <button
                class="main_navbar__container-list-items-links-arrow_button"
                data-for="3"
              >
                <i class="fas fa-chevron-down arrow" aria-hidden="true"></i>
              </button>
              <ul class="sub-dropdown" data-for-target="3">
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Before & After</a>
                </li>
                <li class="sub-dropdown_list">
                  <a class="sub-dropdown_items" href="">Patient Stories </a>
                </li>
              </ul>
            </li>
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links"
                >Patient Stories</a
              >
            </li>
            <li class="main_navbar__container-list-items">
              <a href="" class="main_navbar__container-list-items-links">
                About Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- Header Sections -->
