<div class="clinical_services">
  <!-- <div class="clinical_services__container">
    <div class="clinical_services__clip_content">
      <h2 class="clinical_services__excellent_care">
        Excellent Care for Babies and Their Families in the St. Luke’s NICUs
      </h2>
      <p class="clinical_services__nicu_desc">
        Thanks to advances in reproductive medicine and pre-natal care, more
        women today are able to conceive, maintain pregnancies, and deliver
        babies – even premature and multiple births. Sometimes, however, these
        babies have special needs that require high quality medical care
        enhanced with the latest technology. Even when the pregnancy has been
        problem free, babies can be born with unexpected conditions that require
        expert care. The St. Luke’s Neonatal Intensive Care Units (NICU) at St.
        Luke’s Allentown Campus, St. Luke’s University Hospital – Bethlehem and
        St. Luke’s Anderson Campus are designed to provide a high level of care
        for babies and their families.
      </p>
    </div>
  </div>
</div>
<div class="clinical_services__pediatrics_form_container">
  <h3 class="clinical_services__pediatrics_doctor_title">Find a Doctor</h3>
  <form method="get">
    <select name="pedia" class="clinical_services__pediatrics_form_select">
      <option value="" class="clinical_services__pediatrics_form_options">
        Pediatrics - Neurology
      </option>
    </select>
    <div class="pediatrics_form_input">
      <input type="text" placeholder="Zip Code" />
    </div>
    <button class="btn btn--color btn--pediatric_btn">
      Find a Doctor Near Me
    </button>
  </form>
  <span>or call us at</span><span>866-STLUKES</span>
</div> -->

<div class="main_tab">
  <div class="main_tab__container">
    <div class="main_tab__container_tab">
      <button
        class="main_tab__container_items-button active"
        data-ref="content1"
      >
        Introduction
      </button>
      <button class="main_tab__container_items-button" data-ref="content2">
        Locations
      </button>
      <button class="main_tab__container_items-button" data-ref="content3">
        NICU Family Support Network
      </button>
      <button class="main_tab__container_items-button" data-ref="content4">
        Sound Environment
      </button>
      <button class="main_tab__container_items-button" data-ref="content5">
        Watchful Eye<sup>TM</sup>
      </button>
    </div>

    <div class="main_tab__content">
      <div class="main_tab__content_info" id="content1">
        <h1 class="main_tab__content_title">Introduction</h1>
        <p class="main_tab__content_intro-desc">
          St. Luke’s NICUs are certified to provide advanced medical care to
          critically ill newborns and premature babies. Both NICUs are
          recognized in the "Vermont Oxford Network," a national network of
          NICUs formed to evaluate quality and outcomes of neonatal practices.
        </p>

        <p class="main_tab__content_intro-desc">
          Staffed 24/7 by fellowship-trained, board-certified neonatologists,
          along with neonatal nurse practitioners and a team of specially
          trained nurses, lactation consultants, occupational and physical
          therapists, the NICU offers the very latest in technology and
          developmental techniques. St. Luke’s NICUs are equipped to perform CT
          scans, echocardiograms, EKGs, EEGs and ultrasound, among others.
        </p>
        <p class="main_tab__content_intro-desc">
          Our practice is to encourage parental involvement in all aspects of
          care.
        </p>
        <p class="main_tab__content_intro-desc">
          NICUs at both campuses offer a family waiting room for visitors, a
          night watch room for parents to spend a night with their baby before
          going home and a private place to breast-feed or pump. A skilled team
          of devoted clinicians provides high-level medical care. Special
          lighting and noise control create an environment that is sensitive to
          the babies. Nicky's Place, a private home located on site of St.
          Luke’s Hospital – Bethlehem Campus is available for parents to stay
          when their babies are patients in the NICU.
        </p>
        <p class="main_tab__content_intro-desc">
          Tours of the NICU are available to those who anticipate a high-risk
          delivery.
        </p>
      </div>

      <div class="main_tab__content_info" id="content2">
        <h1 class="main_tab__content_title">Locations</h1>
        <div class="main_tab__content_pediatrics_locations">
          <h3>Level III</h3>
          <!-- <p class="main_tab__content_intro-desc"> -->
          <h5>Caring for infants born at any gestational age</h5>
          <h5>St. Luke’s Anderson</h5>
          <h5>Campus St. Luke’s University Hospital – Bethlehem</h5>
          <!-- </p> -->
          <h3>Level II</h3>

          <!-- <p class="main_tab__content_intro-desc"> -->
          <h5>Caring for infants born at 32 weeks gestation and older</h5>
          <h5>St. Luke’s Allentown Campus</h5>
          <!-- </p> -->
        </div>
      </div>

      <div class="main_tab__content_info" id="content3">
        <h1 class="main_tab__content_title">NICU Family Support Network</h1>
        <p class="main_tab__content_intro-desc">
          Our NICU partners working with the March of Dimes to join the NICU
          Family Support Network.
        </p>
        <p class="main_tab__content_intro-desc">
          NICU - Family Support This is one of the first licensed programs
          within the state of Pennsylvania and establishes St. Luke’s as a
          participant with 70 other NICU's nationwide. In fact, St. Luke’s was
          the recipient of the 2015 March of Dimes first annual Site of the Year
          Award Winner for our excellent NICU Family Support Program offered at
          both St. Luke’s University Hospital – Bethlehem and St. Luke’s
          Allentown Campus.
        </p>
        <p class="main_tab__content_intro-desc">
          The network serves to help parents cope with NICU hospitalization and
          was created by the March of Dimes, with the assistance of NICU
          families, who know exactly what other families need.
        </p>

        <p class="main_tab__content_intro-desc">
          The program is customized to meet the specific needs of the NICU staff
          and parents and incorporates special components to address the needs
          of siblings and extended family members. The network also offers
          continuing education for NICU professional staff on topics related to
          caring for the critically ill newborn and family centered care.
        </p>

        <p class="main_tab__content_intro-desc">
          The program begins with a unit and staff assessment phase. Then an
          individualized education program is provided for all professional
          staff, including physicians, nurse practitioners, RNs, unit clerks,
          respiratory and anyone caring for the neonatal population and/or
          interacting with parents. Lastly, a parent information center is
          established. This includes access to a computer, printed educational
          information, and on-line sharing with other NICU families. The goal is
          to reduce parental anxiety and confusion, while embracing a family
          centered care philosophy.
        </p>
      </div>

      <div class="main_tab__content_info" id="content4">
        <h1 class="main_tab__content_title">Sound Environment</h1>
        <p class="main_tab__content_intro-desc">
          Sound, light, touch and handling are significant environmental factors
          that play a role in the development of NICU babies. Proper
          developmental care for these tiny babies can make a big difference.
          Studies have demonstrated that stress from the environment can prolong
          hospitalization and compromise outcomes in preterm babies who require
          intensive medical care. Additionally, undue stress can have long-term
          consequences on brain development and organization. At St. Luke’s,
          NICU care is provided by a skilled team of caregivers who offer an
          environment that is sensitive to the baby's sensory development for
          best outcomes.
        </p>
      </div>

      <div class="main_tab__content_info" id="content5">
        <h1 class="main_tab__content_title">Watchful Eye TM</h1>
        <p class="main_tab__content_intro-desc">
          St. Luke’s Watchful Eye™ program is designed to assess and treat
          retinopathy of prematurity, a problem that can affect the eyesight of
          premature babies.
        </p>
      </div>
    </div>
  </div>
</div>
