<div class="pediatrics_locations">
  <div class="pediatrics_locations__title">
    <h2 class="pediatrics_locations__title-heading">Locations</h2>
  </div>

  <div class="pediatrics_locations__container">
    <div class="pediatrics_locations__container-locations-cards">
      <div class="pediatrics_locations__container-locations-cards_upper">
        <h4 class="pediatrics_locations__container-loc-name">AllenTown</h4>
        <p class="pediatrics_locations__container-loc-address">
          St. Luke’s west End Medical Center 501 Cetronia Road, Suite 135
          Allentown, PA, 18104
        </p>

        <a
          class="pediatrics_locations__container-loc-number"
          href="tel:(484) 526-1260"
          >(484) 526-1260</a
        >
      </div>
      <div class="pediatrics_locations__container-locations-cards_below">
        <h4 class="pediatrics_locations__container-locations-opening">
          Office Hours
        </h4>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Monday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Wednesday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
      </div>
    </div>
    <div class="pediatrics_locations__container-locations-cards">
      <div class="pediatrics_locations__container-locations-cards_upper">
        <h4 class="pediatrics_locations__container-loc-name">AllenTown</h4>
        <p class="pediatrics_locations__container-loc-address">
          St. Luke’s west End Medical Center 501 Cetronia Road, Suite 135
          Allentown, PA, 18104
        </p>

        <a
          class="pediatrics_locations__container-loc-number"
          href="tel:(484) 526-1260"
        >
          (484) 526-1260</a
        >
      </div>
      <div class="pediatrics_locations__container-locations-cards_below">
        <h4 class="pediatrics_locations__container-locations-opening">
          Office Hours
        </h4>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Monday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Wednesday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
      </div>
    </div>
    <div class="pediatrics_locations__container-locations-cards">
      <div class="pediatrics_locations__container-locations-cards_upper">
        <h4 class="pediatrics_locations__container-loc-name">AllenTown</h4>
        <p class="pediatrics_locations__container-loc-address">
          St. Luke’s west End Medical Center 501 Cetronia Road, Suite 135
          Allentown, PA, 18104
        </p>

        <a
          class="pediatrics_locations__container-loc-number"
          href="tel:(484) 526-1260}"
        >
          (484) 526-1260</a
        >
      </div>
      <div class="pediatrics_locations__container-locations-cards_below">
        <h4 class="pediatrics_locations__container-locations-opening">
          Office Hours
        </h4>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Monday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
        <div class="pediatrics_locations__container-locations-opening-hours">
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >Wednesday:</span
          >
          <span
            class="pediatrics_locations__container-locations-opening-hours-days"
            >8:30 AM - noon</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
