<section>
  <div class="clinical_services clinical_services_bg--pink">
    <div class="clinical_services__container">
      <div class="clinical_services__clip_content">
        <h2 class="clinical_services__excellent_care">
          Excellent Care for Babies and Their Families in the St. Luke’s NICUs
        </h2>
        <p class="clinical_services__nicu_desc">
          Thanks to advances in reproductive medicine and pre-natal care, more
          women today are able to conceive, maintain pregnancies, and deliver
          babies – even premature and multiple births. Sometimes, however, these
          babies have special needs that require high quality medical care
          enhanced with the latest technology. Even when the pregnancy has been
          problem free, babies can be born with unexpected conditions that
          require expert care. The St. Luke’s Neonatal Intensive Care Units
          (NICU) at St. Luke’s Allentown Campus, St. Luke’s University Hospital
          – Bethlehem and St. Luke’s Anderson Campus are designed to provide a
          high level of care for babies and their families.
        </p>
      </div>
    </div>
  </div>
  <div class="clinical_services__pediatrics_form">
    <div class="clinical_services__pediatrics_form_container">
      <h3 class="clinical_services__pediatrics_doctor_title">Find a Doctor</h3>
      <form class="clinical_services__pediatrics_form_content" id="form">
        <div class="clinical_services__pediatrics_dropdown">
          <label class="sr-only" for="pediatricOptions">Select Options</label>
          <select
            id="pediatricOptions"
            class="clinical_services__pediatrics_form_select"
          >
            <option value="">Select Options</option>
            <option
              value="Neurology"
              class="clinical_services__pediatrics_form_options"
            >
              Pediatrics - Neurology
            </option>
            <option
              value="NICU"
              class="clinical_services__pediatrics_form_options"
            >
              Pediatrics - NICU
            </option>
            <option
              value="PICU"
              class="clinical_services__pediatrics_form_options"
            >
              Pediatrics - PICU
            </option>
          </select>
          <span id="selectError" class="error">*Please Select any options</span>
        </div>
        <div class="clinical_services__pediatrics_form_zip_code">
          <label class="sr-only" for="zipCode">Zip Code</label>
          <input
            id="zipCode"
            class="clinical_services__pediatrics_form_input"
            type="number"
            placeholder="Zip Code"
          />
          <!-- <i class="fas fa-check-circle"></i> -->
          <!-- <i class="fas fa-exclamation-circle"></i> -->
          <span id="ZipError" class="error">*Zip Code Required</span>
        </div>
        <button class="btn btn--pediatric btn--color">
          Find a Doctor Near Me
        </button>
      </form>
      <div class="clinical_services__pediatrics_form_contact">
        <span>or call us at</span>
        <span class="clinical_services__pediatrics_form_contact_number"
          >866-STLUKES</span
        >
      </div>
    </div>
  </div>
  <div class="clinical_services__pediatrics_modal">
    <div class="clinical_services__pediatrics_hidden-modal"></div>
  </div>
</section>
