<section>
<div class="clinical_services clinical_services_bg-image-1">
  <div class="clinical_services__container">
    <div class="clinical_services__clip_content">
      <h2 class="clinical_services__excellent_care">
        Pediatric Intensive Care Unit (PICU)
      </h2>
      <p class="clinical_services__nicu_desc bg--black">
        Thanks to advances in reproductive medicine and pre-natal care, more
        women today are able to conceive, maintain pregnancies, and deliver
        babies – even premature and multiple births. Sometimes, however, these
        babies have special needs that require high quality medical care
        enhanced with the latest technology. Even when the pregnancy has been
        problem free, babies can be born with unexpected conditions that require
        expert care. The St. Luke’s Neonatal Intensive Care Units (NICU) at St.
        Luke’s Allentown Campus, St. Luke’s University Hospital – Bethlehem and
        St. Luke’s Anderson Campus are designed to provide a high level of care
        for babies and their families.
      </p>
    </div>
  </div>
</div>
<!-- <div class="clinical_services__pediatrics_form">
    <div class="clinical_services__pediatrics_form_container">
      <h3 class="clinical_services__pediatrics_doctor_title">Find a Doctor</h3>
      <form class="clinical_services__pediatrics_form_content" method="get">
        <select name="pedia" class="clinical_services__pediatrics_form_select">
          <option value="" class="clinical_services__pediatrics_form_options">
            Pediatrics - Neurology
          </option>
        </select>
        <div class="pediatrics_form_input">
          <input type="text" placeholder="Zip Code" />
        </div>
        <button class="btn btn--color btn--pediatric-btn">
          Find a Doctor Near Me
        </button>
      </form>
      <span>or call us at</span><span>866-STLUKES</span>
    </div>
</div> -->
</section>