<section> 
<div class="clinical_services clinical_services_bg--image-blue">
    <div class="clinical_services__container">
      <div class="clinical_services__clip_content">
        <h2 class="clinical_services__excellent_care">
          
          About Us
        </h2>
        <p class="clinical_services__nicu_desc">
          Thanks to advances in reproductive medicine and pre-natal care, more
          women today are able to conceive, maintain pregnancies, and deliver
          babies – even premature and multiple births. Sometimes, however, these
          babies have special needs that require high quality medical care
          enhanced with the latest technology. Even when the pregnancy has been
          problem free, babies can be born with unexpected conditions that require
          expert care. The St. Luke’s Neonatal Intensive Care Units (NICU) at St.
          Luke’s Allentown Campus, St. Luke’s University Hospital – Bethlehem and
          St. Luke’s Anderson Campus are designed to provide a high level of care
          for babies and their families.
        </p>
      </div>
    </div>
  </div>
</section>