<div class="clinical-video">
  <div class="clinical-video-container">
    <div class="clinical-video-desc">
      <p class="clinical-video-desc-para">
        I love when to hear my patient’s say, “you made me feel whole again,” or
        “I finally see myself the way I’ve always wanted to.” Whether it’s
        giving a patient something back that’s been taken from them, or giving
        them a sense of rejuvenation, it is a feeling that is unique to the
        practice of plastic surgery. It’s what inspires me to help my patients
        look in the mirror with a sense of confidence about the person they see
        looking back.
      </p>
    </div>
  </div>
  
  <div class="clinical-video-content">
      <iframe
      width="600"
      height="350"
      src="https://www.youtube.com/embed/BpzVvUGfJeA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      ></iframe>
    </div>
</div>
    