<div class="popular-services">
    <div class="popular-services__image-container">
        <div class="popular-services__image" role="img" aria-label="image"
            style="background-image: url('https://source.unsplash.com/random/600x464');"></div>
    </div>
    <div class="popular-services__text-container">
        <div class="popular-services__text-contain">
            <h2 class="popular-services__text-contain-title">Popular Services</h2>
            <p class="popular-services__text-contain-text">Our fellowship-trained physicians can restore what
                injury or illness took away, address a congenital condition or anomaly, minimize the effects of aging,
                and enhance a feature of your appearance.</p>
            <p class="popular-services__text-contain-text">
                When selecting a cosmetic surgeon, it’s vitally important to select a physician with the training,
                certification and experience to help you safely achieve the results you desire.
            </p>
            <ul class="popular-services__text-contain-list">
                <!-- Provide descriptive content in aria-label and title attribute-->
                <li class="popular-services__text-contain-list-item"><a href="#"
                        class="popular-services__text-contain-list-item-link" aria-label="Injectable Fillers"
                        title="Injectable Fillers">Injectable Fillers</a></li>
                <li class="popular-services__text-contain-list-item"><a href="#"
                        class="popular-services__text-contain-list-item-link"
                        aria-label="Laser Skin Resurfacing" title="Laser Skin Resurfacing">Laser Skin Resurfacing</a>
                </li>
                <li class="popular-services__text-contain-list-item"><a href="#"
                        class="popular-services__text-contain-list-item-link" aria-label="Breast Augmentation"
                        title="Breast Augmentation">Breast Augmentation</a></li>
            </ul>
        </div>
    </div>
</div>