<footer class="footer">
    <div class="footer__container">
        <div class="footer__container-left">
            <div class="footer__container-left-contain">
                <img src="../../images/SLUHN_Logo.svg" class="footer__container-left-contain-image"
                    alt="footer-logo">

            </div>
        </div>
        <div class="footer__container-right">
            <div class="footer__container-right-contain">
                <ul class="footer__container-right-contain-list">
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="about"
                            aria-label="about">About</a></li>
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="Meet the team"
                            aria-label="Meet the team">Meet the team</a></li>
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="services"
                            aria-label="services">Services</a></li>
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="Locations"
                            aria-label="Locations">Locations</a></li>
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="Gallery"
                            aria-label="Gallery">Gallery</a></li>
                    <li class="footer__container-right-contain-list-item"><a href="#"
                            class="footer__container-right-contain-list-item-link" title="Contact us"
                            aria-label="Contact us">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__inner-container">
        <div class="footer__inner-container-content">
            <a class="footer__inner-container-content-link" href="#" aria-label="EOE" title="EOE">EOE
                </a>
                <a class="footer__inner-container-content-link" href="#" aria-label="Privacy" title="Privacy">Privacy
                </a>
                <a class="footer__inner-container-content-link" href="#" aria-label="Terms of Use" title="Terms of Use">Terms of Use
                </a>
                <a class="footer__inner-container-content-link" href="#" aria-label="Public Notice" title="Public Notice">Public Notice
                </a>
            </div>
        </div>
</footer>