<div class="stluke-locator">

  <div class="stluke-locator__content">
    <div class="stluke-locator__doctors_location">
        <img class="stlukes-locator__st_logo" src="../../images/stlukes_logo.png" alt="">
      <h2 class="stluke-locator__sub_titles">
        Commited to quality healthcare
      </h2>
      <div class="stluke-locator__desc">
        <p class="stluke-locator__desc_first">
          St. Luke’s is committed to providing high-quality health care to
          children of all ages. Our board-certified pediatricians and expert
          advanced practitioners see patients at our primary care pediatric
          practices located throughout the Lehigh Valley and surrounding areas.
        </p>
        <p class="stluke-locator__desc_second">
          Our physicians and advanced practitioners treat young patients in a
          manner that is comfortable for the child and comforting for parents.
          We understand that children are not small adults; their developing
          bodies may require special medications and different medical
          treatments.
        </p>
      </div>
      <a class="stluke-locator__target_link" href="#" >View our services
        <img class="stluke-locator__bird-img" src="../../images/bird.png" alt="">
      </a>
    </div>
    
    <div class="stluke-locator__find_near_doctor">
      <img class="stluke-locator__child_image" src="../../images/find-doctor.png" alt="" />
      
      <div class="stluke-locator__navigator">
        <h2 class="stluke-locator__title_find_doctor">Find a doctor near you</h2>
        <p class="stluke-locator__locate_desc">
          Practices are conveniently located in your neighborhood.
        </p>
        <button class="btn btn--doc btn--orange">
          <img class="steth-icon" src="../../images/stethoscope.png" alt=""> Find a doctor</button>
      </div>
    </div>
  </div>
</div>
  
  